<html xmlns:th="http://www.thymeleaf.org">

        <span th:fragment="welcome_boutton_fragment">
              <a class = "navbar-brand" href = "/home"> Acceuil</a>
        <button class = "navbar-toggler hidden" type = "button" data-toggle = "collapse"
                data-target = "#navbarSupportedContent"
                aria-controls = "navbarSupportedContent" aria-expanded = "false"
                aria-label = "Toggle navigation">
            <span class = "navbar-toggler-icon"></span>
        </button>
        </span>

        <ul th:fragment="welcome_menu_fragment"  class = "navbar-nav mr-auto">
            <li class = "nav-item">
                <a class = "nav-link " href = "/listePrets">Prêts</a>
            </li>
            <li class = "nav-item ">
                <a class = "nav-link" href = "/listeOuvrages">Ouvrages</a>
            </li>
            <li class = "nav-item ">
                <a class = "nav-link " href = "/rechercherOuvrages">Cherche</a>
            </li>
            <li class = "nav-item ">
                <a class = "nav-link" href = "/loginUser">Connexion</a>
            </li>
        </ul>
        <ul th:fragment="prets_menu_fragment"  class = "navbar-nav mr-auto">
            <li class = "nav-item">
                <a class = "nav-link " href = "/listePrets">Prêts</a>
            </li>
            <li class = "nav-item ">
                <a class = "nav-link" href = "/listeOuvrages">Ouvrages</a>
            </li>
            <li class = "nav-item ">
                <a class = "nav-link " href = "/rechercherOuvrages">Cherche</a>
            </li>
            <li class = "nav-item ">
                <a class = "nav-link" href = "/loginUser">Connexion</a>
            </li>
        </ul>

        <ul th:fragment="ouvrages_menu_fragment" class = "navbar-nav mr-auto">
            <li class = "nav-item">
                <a class = "nav-link " href = "/listePrets">Prêts</a>
            </li>
            <li class = "nav-item ">
                <a class = "nav-link active" href = "/listeOuvrages">Ouvrages</a>
            </li>
            <li class = "nav-item ">
                <a class = "nav-link " href = "/rechercherOuvrages">Cherche</a>
            </li>
            <li class = "nav-item ">
                <a class = "nav-link" href = "/loginUser">Connexion</a>
            </li>
        </ul>

        <ul th:fragment="connexion_menu_fragment"  class = "navbar-nav mr-auto">
            <li class = "nav-item">
                <a class = "nav-link " href = "/listePrets">Prêts</a>
            </li>
            <li class = "nav-item ">
                <a class = "nav-link" href = "/listeOuvrages">Ouvrages</a>
            </li>
            <li class = "nav-item ">
                <a class = "nav-link " href = "/rechercherOuvrages">Cherche</a>
            </li>
            <li class = "nav-item ">
                <a class = "nav-link active" href = "/loginUser">Connexion</a>
            </li>
        </ul>

        <ul th:fragment="recherche_menu_fragment"  class = "navbar-nav mr-auto">
            <li class = "nav-item">
                <a class = "nav-link " href = "/listePrets">Prêts</a>
            </li>
            <li class = "nav-item ">
                <a class = "nav-link" href = "/listeOuvrages">Ouvrages</a>
            </li>
            <li class = "nav-item ">
                <a class = "nav-link active" href = "/rechercherOuvrages">Cherche</a>
            </li>
            <li class = "nav-item ">
                <a class = "nav-link" href = "/loginUser">Connexion</a>
            </li>
        </ul>
