<?xml version = "1.0" encoding = "UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <appender name = "STDOUT" class = "ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.sss'Z'}] [%C] [%t] [%L] [%-5p] %m%n</pattern>
        </encoder>
    </appender>

    <appender name = "FILE" class = "ch.qos.logback.core.FileAppender">
        <File>./logs/service_batch.log</File>
        <encoder>
            <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.sss'Z'}] [%C] [%t] [%L] [%-5p] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="fr.ocr" level="DEBUG"/>

    <logger name="javax.activation" level="INFO"/>
    <logger name="javax.mail" level="INFO"/>
    <logger name="javax.xml.bind" level="INFO"/>
    <logger name="ch.qos.logback" level="INFO"/>
    <logger name="com.sun" level="OFF"/>
    <logger name="org.apache" level="INFO"/>
    <logger name="org.hibernate.validator" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>
    <logger name="org.hibernate.ejb.HibernatePersistence" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.springframework.security" level="INFO"/>
    <logger name="org.springframework.cache" level="INFO"/>
    <logger name="springfox" level="INFO"/>


    <root level = "INFO">
        <appender-ref ref = "FILE"/>
        <appender-ref ref = "STDOUT"/>
    </root>
</configuration>